.header > nav {
  background-color: antiquewhite;
  margin: 0px 0px 50px;
  display: flex;
  
  
  justify-content: space-between;

  cursor: pointer;

}
.header > nav >div:hover {
  border: 1px solid black;

}
.header{
  flex: 0 0 auto;
}
